### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1158]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [1159]:
purchase_data["SN"].unique()
total_players = purchase_data["SN"].unique().shape[0]

#total_players = len(purchase_data["SN"].value_counts())
#player = pd.DataFrame({"Total Players", total_players})

player = pd.DataFrame({ "Total Players": [total_players]})
    
player

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [1160]:
total_unique = purchase_data["Item ID"].value_counts().shape[0] # to find the total number of Unique Item

In [1161]:
average_price = purchase_data["Price"].mean() # to find the average price
average_price = format(average_price, ".2f")
#print("Average Price is : $ ", average_price)

# Use Map to format all the columns
#file_df["avg_cost"] = file_df["avg_cost"].map("${:.2f}".format)
#file_df["population"] = file_df["population"].map("{:,}".format)
#file_df["other"] = file_df["other"].map("{:.2f}".format)
#file_df.head()

In [1162]:
purchase_data.shape[0]

780

In [1163]:
sum_price = purchase_data["Price"].sum() # to find the total revenue price

In [1183]:


purchase_ana = pd.DataFrame({ "Number of Unique Items": [total_unique],
                              "Average Price": [average_price],
                              "Number of Purchases": [purchase_data.shape[0]],
                             "Total Revenue": [sum_price]})

purchase_ana['Average Price'] = '$ ' + purchase_ana['Average Price'].astype(str)
purchase_ana['Total Revenue'] = '$ ' + purchase_ana['Total Revenue'].astype(str)


                             
purchase_ana

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183        $ 3.05                  780     $ 2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [1165]:
Male_count = purchase_data[purchase_data['Gender'] == 'Male'].groupby("SN")["Gender"].sum().shape[0]

#print("Total number of Male players: ", Male_count)
percentage_male = Male_count * 100 / purchase_data["SN"].unique().shape[0]
percentage_male = format(percentage_male, ".2f")
#print("% of Male Players is: ", percentage_male + ' %')

In [1166]:
Female_count = purchase_data[purchase_data['Gender'] == 'Female'].groupby("SN")["Gender"].sum().shape[0]
#print("Total number of Female players: ", Female_count)

percentage_female = Female_count *100 / purchase_data["SN"].unique().shape[0]
convert_f = format(percentage_female, ".2f")
#print("% of Female Players is: ", convert_f + ' %')

In [1167]:
# finding for "Other / Non-Disclosed"
others_count = purchase_data["SN"].unique().shape[0] - (Male_count + Female_count)
#print("Total number of Other / Non-Disclosed players: ", others_count)

others_percent = others_count *100 / purchase_data["SN"].unique().shape[0]
convert_po = format(others_percent, ".2f")
#print("% of Other / Non-Disclosed players: ", convert_po + ' %')

In [1168]:
# to display in table
#intialise data of lists.

#gender_count = purchase_data["Gender"].value_counts()

data = pd.DataFrame({'Gender':["Male", "Female", "Other / Non-Disclosed"],
                     'Total Count':[Male_count, Female_count, others_count],
                    'Percentage of Players':[percentage_male, convert_f, convert_po] })
 
data

                  Gender  Total Count Percentage of Players
0                   Male          484                 84.03
1                 Female           81                 14.06
2  Other / Non-Disclosed           11                  1.91



## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [1169]:
# to find the Purchasing Analysis (Gender-Female)

Female_count_p = purchase_data[purchase_data['Gender'] == 'Female'].groupby("Purchase ID").sum().shape[0]

columns = ["Purchase ID", "SN", "Age", "Gender", "Item ID", "Item Name", "Price"]


price_female = purchase_data.loc[purchase_data["Gender"] == "Female",  columns]
total_female_p = price_female["Price"].sum()

#average price
price_female_p = price_female["Price"].sum() / Female_count_p

#average price in 2 decimal
price_female_p = format(price_female_p, ".2f")

#total revenue by Female
total_price_f = purchase_data[purchase_data['Gender'] == 'Female'].groupby("SN")["Price"].sum()


#total average price for each unique female count
price_female_pp= total_female_p / Female_count
price_female_pp = format(price_female_pp, ".2f")

In [1170]:
# to find the Purchasing Analysis (Gender-Male)

Male_count_p = purchase_data[purchase_data['Gender'] == 'Male'].groupby("Purchase ID").sum().shape[0]
print("Total number of Male players: ", Male_count_p)


price_male = purchase_data.loc[purchase_data["Gender"] == "Male",  columns]
total_male_p = price_male["Price"].sum()

#average price
price_male = total_male_p / Male_count_p

#average price in 2 decimal
price_male = format(price_male, ".2f")

#total revenue by Male
total_price_men = purchase_data[purchase_data['Gender'] == 'Male'].groupby("SN")["Price"].sum()


#total average price for each unique Male count
price_male_pp= total_male_p / Male_count
price_male_pp = format(price_male_pp, ".2f")

Total number of Male players:  652

In [1171]:
# to find the Purchasing Analysis (Gender-Other)

other_count_p = purchase_data[purchase_data['Gender'] == 'Other / Non-Disclosed'].groupby("Purchase ID").sum().shape[0]

price_other = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed",  columns]
total_other_p = price_other["Price"].sum()

#average price
price_other = total_other_p / other_count_p

#average price in 2 decimal
price_other = format(price_other, ".2f")

#total revenue by other
total_price_other = purchase_data[purchase_data['Gender'] == 'Other / Non-Disclosed'].groupby("SN")["Price"].sum()

#total average price for each unique other count
price_other_pp= total_other_p / others_count
price_other_pp = format(price_other_pp, ".2f")

In [1172]:
# to display summary of data for Purchasing Analysis (Gender)
data_p = pd.DataFrame({'Gender':["Male", "Female", "Other / Non-Disclosed"],
                     'Purchase Count':[Female_count_p, Male_count_p, other_count_p],
                      'Average Purchase Price':[price_female_p, price_male, price_other],
                      'Total Purchase Value':[total_female_p , total_male_p, total_other_p]})

data_p['Average Purchase Price'] = '$ ' + data_p['Average Purchase Price'].astype(str)
data_p['Total Purchase Value'] = '$ ' + data_p['Total Purchase Value'].astype(str)


data_p

,Gender,Purchase Count,Average Purchase Price,Total Purchase Value
0,Male,113,$ 3.20,$ 361.94
1,Female,652,$ 3.02,$ 1967.64
2,Other / Non-Disclosed,15,$ 3.35,$ 50.19

In [1173]:
##### BONUS part to find indivdual average price per unqiue person listed


#purchase item count by Male - INDIVIDUALLY
#-----------------------
#purchase_count = purchase_data[purchase_data['Gender'] == 'Male'].groupby("SN")["Gender"].value_counts()
#print("Number of Male player's purchased item count ", purchase_count)

#Average price by Male - INDIVIDUALLY
#-----------------------

#hosted_in_men = purchase_data.loc[purchase_data["Gender"] == "Male",  columns]
#hosted_in_men["Price"].sum()

#avg_price_m = hosted_in_men["Price"].sum() / Male_count
#print("Average price spent for each item by Male Players is:$ ", format(avg_price_m, ".2f"))


#Average price by Male per Person - INDIVDUALLY
#-----------------------
#Math formula 

#price_count_m / purchase_count

In [1174]:
##### BONUS part to find indivdual average price per unqiue person listed


#purchase item count by female
#-----------------------
#purchase_count_female = purchase_data[purchase_data['Gender'] == 'Female'].groupby("SN")["Gender"].value_counts()
#print("Number of female player's purchased item count ", purchase_count)
#purchase_count_female.head()


#Average price by Female
#-----------------------

#columns = ["Purchase ID", "SN", "Age", "Gender", "Item ID", "Item Name", "Price"]
#hosted_in_female = purchase_data.loc[purchase_data["Gender"] == "Female",  columns]
#hosted_in_female["Price"].sum()

#avg_price_f = hosted_in_female["Price"].sum() / Female_count
#print("Average price spent for each item by Female Players is:$ ", format(avg_price_f, ".2f"))


#Average price by Female per Person
#-----------------------
#Math formula 

#rice_count_f = purchase_data[purchase_data['Gender'] == 'Female'].groupby("SN")["Price"].sum()
#price_count_f

#price_count_f / purchase_count_female



# First convert "average_donation", "goal", and "pledged" columns to float
# Then Format to go to two decimal places, include a dollar sign, and use comma notation

#hosted_in_us["average_donation"] = hosted_in_us["average_donation"].astype(float).map(
#    "${:,.2f}".format)
#hosted_in_us["goal"] = hosted_in_us["goal"].astype(float).map("${:,.2f}".format)
#hosted_in_us["pledged"] = hosted_in_us["pledged"].astype(float).map("${:,.2f}".format)

In [1175]:
##### BONUS part to find indivdual average price per unqiue person listed

#purchase item count by Others
#-----------------------------------
#purchase_count_others = purchase_data[purchase_data['Gender'] == 'Other / Non-Disclosed'].groupby("SN")["Gender"].value_counts()
#print("Number of Other/Non-Disclosed player's purchased item count ", purchase_count_others)
#purchase_count_others.head 

#purchase item count by Male

#purchase_count = purchase_data[purchase_data['Gender'] == 'Male'].groupby("SN")["Gender"].value_counts()
#print("Number of Male player's purchased item count ", purchase_count)


#Average price by Other/Non-Disclosed
#-----------------------------------
#columns = ["Purchase ID", "SN", "Age", "Gender", "Item ID", "Item Name", "Price"]
#hosted_in_other = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed",  columns]
#hosted_in_other["Price"].sum()

#avg_price_o = hosted_in_other["Price"].sum() / others_count
#print("Average price spent for each item by Female Players is:$ ", format(avg_price_o, ".2f"))



#Average price by Other/Non-Disclosed per Person
#-----------------------------------
#Math formula 

 # = purchase_data.groupby("SN")["Price"].sum()

#price_count_o = purchase_data[purchase_data['Gender'] == 'Other / Non-Disclosed'].groupby("SN")["Price"].sum()
#print("Number of Male player's purchased item count ", hosted_in_men)
#price_count_o

#/ hosted_in_men

#totalprice_person = purchase_data.groupby("Gender")["Price"].sum()
#totalprice_person

#price_count_o / purchase_count_others

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [1176]:
bins = [0, 9, 14, 19, 24, 28, 33, 39, 90]
age_group = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
purchase_data["Age Groups"] = pd.cut(purchase_data["Age"], bins, labels=age_group)

n_columns = ["Purchase ID", "SN", "Age", "Gender", "Item ID", "Item Name", "Price", "Age Groups"]


# for 0-9 ages 
#----------------------------------------
bin1 = purchase_data.loc[purchase_data["Age Groups"] == "<10",  n_columns]
test = bin1#.groupby("SN")["Gender"].value_counts()
young_player = test.shape[0]#- this is not unique, array starts from 0 //return 23
uyoung_player = bin1["SN"].unique().shape[0]#- this is unique

percentage_youngplayer = young_player *100 / total_players
convert_yp = format(percentage_youngplayer, ".2f")

#total purchase 1
avgsum1 = test["Price"].sum()
avgsum1 = format(avgsum1, ".2f")
#total Average price - not unique
avg_price1 = test["Price"].sum() / young_player
avg_price1 = format(avg_price1, ".2f")
#total Average price for each person in the age group- unique
avg_ag1 =  test["Price"].sum() / uyoung_player
avg_ag1 = format(avg_ag1, ".2f")


# for 10-14 ages
#----------------------------------------
bin2 = purchase_data.loc[purchase_data["Age Groups"] == "10-14",  n_columns]
test1 = bin2#.groupby("SN")["Gender"].value_counts()
teen_player = test1.shape[0] # this is not unique // should return 28
uteen_player = bin2["SN"].unique().shape[0]

percent_teen_player = teen_player *100 / total_players
convert_tp = format(percent_teen_player, ".2f")

#total purchase 2
avgsum2 = test1["Price"].sum()
avgsum2 = format(avgsum2, ".2f")
#total Average price - not unique
avg_price2 = test1["Price"].sum() / teen_player
avg_price2 = format(avg_price2, ".2f")
#total Average price for each person in the age group- unique
avg_ag2 = test1["Price"].sum() / uteen_player
avg_ag2 = format(avg_ag2, ".2f")

# for 15-19 ages
#----------------------------------------
bin3 = purchase_data.loc[purchase_data["Age Groups"] == "15-19",  n_columns]
test2 = bin3#.groupby("SN")["Gender"].value_counts() # this is not unique // shl rtn 136
adult_player1 = test2.shape[0]
uadult_player1 = bin3["SN"].unique().shape[0]


percent_ad_player = adult_player1 *100 / total_players
convert_ap = format(percent_ad_player, ".2f")

#total purchase 3
avgsum3 = test2["Price"].sum()
avgsum3 = format(avgsum3, ".2f")
#total Average price - not unique
avg_price3 = test2["Price"].sum() / adult_player1
avg_price3 = format(avg_price3, ".2f")
#total Average price for each person in the age group- unique
#avg_ag3 =  percent_ad_player /100 * sum_price
avg_ag3 = test2["Price"].sum() / uadult_player1
avg_ag3 = format(avg_ag3, ".2f")

# for 20-24 ages
#----------------------------------------
bin4 = purchase_data.loc[purchase_data["Age Groups"] == "20-24",  n_columns]
test3 = bin4#.groupby("SN")["Gender"].value_counts() - this is not unique // shld rtn 365
adult_player2 = test3.shape[0]
uadult_player2 = bin4["SN"].unique().shape[0]


percent_ad_player2 = adult_player2 *100 / total_players
convert_ap2 = format(percent_ad_player2, ".2f")

#total purchase 4
avgsum4 = test3["Price"].sum()
avgsum4 = format(avgsum4, ".2f")
#total Average price - not unique
avg_price4 = test3["Price"].sum() / adult_player2
avg_price4 = format(avg_price4, ".2f")
#total Average price for each person in the age group- unique
avg_ag4 = test3["Price"].sum() / uadult_player2
avg_ag4 = format(avg_ag4, ".2f")

# for 25-29 ages
#----------------------------------------
bin5 = purchase_data.loc[purchase_data["Age Groups"] == "25-29",  n_columns]
test4 = bin5#.groupby("SN")["Gender"].value_counts()
adult_player3 = test4.shape[0]
uadult_player3 = bin5["SN"].unique().shape[0]

percent_ad_player3 = adult_player3 *100 / total_players
convert_ap3 = format(percent_ad_player3, ".2f")

#total purchase 5
avgsum5 = test4["Price"].sum()
avgsum5 = format(avgsum5, ".2f")
#total Average price - not unique
avg_price5 = test4["Price"].sum() / adult_player3
avg_price5 = format(avg_price5, ".2f")
#total Average price for each person in the age group- unique
avg_ag5 = test4["Price"].sum() / uadult_player3
avg_ag5 = format(avg_ag5, ".2f")


# for 30-34 ages
#----------------------------------------
bin6 = purchase_data.loc[purchase_data["Age Groups"] == "30-34",  n_columns]
test5 = bin6#.groupby("SN")["Gender"].value_counts()
adult_player4 = test5.shape[0]
uadult_player4 = bin6["SN"].unique().shape[0]


percent_ad_player4 = adult_player4 *100 / total_players
convert_ap4 = format(percent_ad_player4, ".2f")

#total purchase 6
avgsum6 = test5["Price"].sum()
avgsum6 = format(avgsum6, ".2f")
#total Average price - not unique
avg_price6 = test5["Price"].sum() / adult_player4
avg_price6 = format(avg_price6, ".2f")
#total Average price for each person in the age group- unique
avg_ag6 = test5["Price"].sum() / uadult_player4
avg_ag6 = format(avg_ag6, ".2f")



# for 35-39 ages
#----------------------------------------
bin7 = purchase_data.loc[purchase_data["Age Groups"] == "35-39",  n_columns]
test6 = bin7#.groupby("SN")["Gender"].value_counts()
adult_player5 = test6.shape[0]
uadult_player5 = bin7["SN"].unique().shape[0]


percent_ad_player5 = adult_player5 *100 / total_players
convert_ap5 = format(percent_ad_player5, ".2f")

#total purchase 7
avgsum7 = test6["Price"].sum()
avgsum7 = format(avgsum7, ".2f")
#total Average price - not unique
avg_price7 = test6["Price"].sum() / adult_player5
avg_price7 = format(avg_price7, ".2f")
#total Average price for each person in the age group- unique
avg_ag7 =  percent_ad_player5 /100 * sum_price
avg_ag7 = test6["Price"].sum() / uadult_player5
avg_ag7 = format(avg_ag7, ".2f")

# for 40+ ages
#----------------------------------------
bin8 = purchase_data.loc[purchase_data["Age Groups"] == "40+",  n_columns]
test7 = bin8#.groupby("SN")["Gender"].value_counts()
adult_player6 = test7.shape[0]
uadult_player6 = bin8["SN"].unique().shape[0]

percent_ad_player6 = adult_player6 *100 / total_players
convert_ap6 = format(percent_ad_player6, ".2f")

#total purchase 8
avgsum8 = test7["Price"].sum()
avgsum8 = format(avgsum8, ".2f")
#total Average price - not unique
avg_price8 = test7["Price"].sum() / adult_player6
avg_price8 = format(avg_price8, ".2f")
#total Average price for each person in the age group- unique
avg_ag8 =  percent_ad_player6 /100 * sum_price
avg_ag8 = test7["Price"].sum() / uadult_player6
avg_ag8 = format(avg_ag8, ".2f")




# to display summary of data for Purchasing Analysis (Gender)
data_p = pd.DataFrame({'Age group':["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"],
                     'Total Count':[uyoung_player, uteen_player, uadult_player1, uadult_player2, uadult_player3, uadult_player4, uadult_player5, uadult_player6],
                      'Percentage of Players':[convert_yp, convert_tp, convert_ap, convert_ap2, convert_ap3, convert_ap4, convert_ap5, convert_ap6]})

data_p['Percentage of Players'] = data_p['Percentage of Players'].astype(str) + '%'


data_p

  Age group  Total Count Percentage of Players
0       <10           17                 3.99%
1     10-14           22                 4.86%
2     15-19          107                23.61%
3     20-24          258                63.37%
4     25-29           67                15.28%
5     30-34           55                13.37%
6     35-39           38                 8.68%
7       40+           12                 2.26%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [1178]:
# displaying the age group, purchase count, avg Purchase Price, Avg Total Purchase PP]
data_age = pd.DataFrame({"":["10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+", "<10"],
                         "Purchase Count" : [teen_player, adult_player1, adult_player2, adult_player3, adult_player4, adult_player5, adult_player6, young_player],
                            "Average Purchase Price": [avg_price2, avg_price3, avg_price4, avg_price5, avg_price6, avg_price7, avg_price8,avg_price1],
                            "Total Purchase Value": [avgsum2, avgsum3, avgsum4, avgsum5, avgsum6, avgsum7, avgsum8,avgsum1],
                            "Avg total Purchase per Person": [avg_ag2, avg_ag3, avg_ag4, avg_ag5,avg_ag6, avg_ag7, avg_ag8, avg_ag1]})


data_age['Average Purchase Price'] = '$ ' + data_age['Average Purchase Price'].astype(str)
data_age['Total Purchase Value'] = '$ ' + data_age['Total Purchase Value'].astype(str)
data_age['Avg total Purchase per Person'] = '$ ' + data_age['Avg total Purchase per Person'].astype(str)



data_age

,,Purchase Count,Average Purchase Price,Total Purchase Value,Avg total Purchase per Person
0,10-14,28,$ 2.96,$ 82.78,$ 3.76
1,15-19,136,$ 3.04,$ 412.89,$ 3.86
2,20-24,365,$ 3.05,$ 1114.06,$ 4.32
3,25-29,88,$ 2.93,$ 257.77,$ 3.85
4,30-34,77,$ 2.95,$ 227.10,$ 4.13
5,35-39,50,$ 3.40,$ 169.80,$ 4.47
6,40+,13,$ 2.94,$ 38.24,$ 3.19
7,<10,23,$ 3.35,$ 77.13,$ 4.54

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [1179]:
purchase_count = purchase_data.groupby(["SN"]).count()["Price"]
avg_purchase_price = purchase_data.groupby(["SN"]).mean()["Price"]
total_purchase_value = purchase_data.groupby(["SN"]).sum()["Price"]

data_TS = pd.DataFrame({"Purchase Count": purchase_count,
                             "Average Purchase Price": avg_purchase_price,
                             "Total Purchase Value": total_purchase_value})
data_TS['Average Purchase Price'] = data_TS['Average Purchase Price'].apply(lambda x:'${:.2f} '.format(x))
data_TS['Total Purchase Value'] = data_TS['Total Purchase Value'].apply(lambda x:'${:.2f} '.format(x))


data_TS.sort_values("Total Purchase Value", ascending=False).head()

              Purchase Count Average Purchase Price Total Purchase Value
SN
Haillyrgue51               3                 $3.17                $9.50
Phistym51                  2                 $4.75                $9.50
Lamil79                    2                 $4.64                $9.29
Aina42                     3                 $3.07                $9.22
Saesrideu94                2                 $4.59                $9.18

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [1180]:
pop_items = purchase_data.loc[:,["Item ID", "Item Name", "Price"]]

total_purchase_value = pop_items.groupby(["Item ID", "Item Name"]).sum()["Price"]
item_price = pop_items.groupby(["Item ID", "Item Name"]).mean()["Price"]
purchase_count = pop_items.groupby(["Item ID", "Item Name"]).count()["Price"]

data_pi = pd.DataFrame({"Purchase Count": purchase_count,
                        "Item Price": item_price,
                        "Total Purchase Value": total_purchase_value})

data_pi['Item Price'] = data_pi['Item Price'].apply(lambda x:'${:.2f} '.format(x))
data_pi['Total Purchase Value'] = data_pi['Total Purchase Value'].apply(lambda x:'${:.2f} '.format(x))




data_pi.sort_values("Purchase Count", ascending=False).head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [1181]:
#popular_items = purchase_data.loc[:,["Item ID", "Item Name", "Price"]]

total_purchase_value = pop_items.groupby(["Item ID", "Item Name"]).sum()["Price"]
item_price = pop_items.groupby(["Item ID", "Item Name"]).mean()["Price"]
purchase_count = pop_items.groupby(["Item ID", "Item Name"]).count()["Price"]

data_pi2 = pd.DataFrame({"Purchase Count": purchase_count,
                         "Item Price": item_price,
                        "Total Purchase Value": total_purchase_value})

data_pi2['Item Price'] = data_pi2['Item Price'].apply(lambda x:'${:.2f} '.format(x))
data_pi2['Total Purchase Value'] = data_pi2['Total Purchase Value'].apply(lambda x:'${:.2f} '.format(x))



data_pi2.sort_values("Total Purchase Value", ascending=False).head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
63,Stormfury Mace,2,$4.99,$9.98
29,"Chaos, Ender of the End",5,$1.98,$9.90
173,Stormfury Longsword,2,$4.93,$9.86
1,Crucifer,3,$3.26,$9.78
38,"The Void, Vengeance of Dark Magic",4,$2.37,$9.48